.super-mario {
    width: 200px;
    }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
left: 50px;
     }
  
  .baloon {
     left: 300px;
  right: 150px;
   z-index: 2;
      }
  
  .speach {
    font-size: 25x;
    position: absolute;
   top: 245px;
   bottom: 10cm;
    left: 7.4cm;
    z-index: 1;
  }
  
    .bowser {
    width: 200px;
    position: absolute;
   right: 17cm;
   top: 8cm;
  }